body {
    font-family: 'Open Sans', arial, sans-serif;
    background-color: $bgcolor-body;
}

#socle {
	z-index: 1;
}

h1 {
	text-align: center;
	line-height: 1.2;
	margin: 30px 0;
	font-size: 36px;
	color: white;
}

aside {
	width: $width-socle;
	@include center-block;
	margin-bottom: 10px;
	&:after {
		content:'';
		display: table;
		clear: both;
	}
	span {
		float: right;
		color: white;
		font-size: 14px;
		font-weight: bold;
		line-height: 20px;
		margin-left: 30px;
		&:before {
			content:'';
			width: 20px;
			height: 20px;
			margin-right: 10px;
			display: inline-block;
			vertical-align: middle;
			@include border-radius-separate(100%,100%,100%,100%);
		}
		&:first-of-type {
			&:before {
				background-color: $red;
			}
		}
		&:last-of-type {
			&:before {
				background-color: $yellow;
			}
		}
	}
}

footer {
	position: relative;
	z-index: 2;
	width: $width-socle;
	@include center-block;
	margin-top: 20px;
	margin-bottom: 20px;
	&:after {
		content:'';
		display: table;
		clear: both;
	}
	a {
		padding: 10px 20px;
		text-transform: uppercase;
		font-weight: bold;
		color: $blue;
		background-color: white;
		@include border-radius-separate(4px,4px,4px,4px);
		&:first-of-type {
			float: left;
		}
		&:last-of-type {
			float: right;
		}
		&:hover {
			background-color: $blue;
			color: white;
		}
	}
}